* {
	padding: 0;
	margin: 0;
}
body {
	background-color: #f2f6fa;
}
.container {
	padding-top: 60px;
	padding-bottom: 60px;
}
input {
	outline: none;
}
.blue.header {
	background-color: #55a8fd;
}
.orange.header {
	background-color: #ffbe6a;
}
.purple.header {
	background-color: #8f7ee5;
}
.green.header {
	background-color: #4dd87a;
}
input.header {
	color: #fff;
	border: 0;
}
.header-wrap {
	position: relative;
}
.header {
	width: 100%;
	line-height: 50px;
	padding: 0 50px 0 20px;
}
.header-wrap .fa {
	position: absolute;
    top: 0;
    right: 22px;
    color: #fff;
    font-size: 24px;
    line-height: 50px;
}
.card-add {
	width: 100%;
	margin: 12px 0;
	line-height: 45px;
	padding: 0 70px 0 20px;
	border: 1px solid #ccc;
}
.comment-cards {
	padding: 10px 20px 10px 3px;
	position: relative;
	-webkit-box-shadow: 0px 0px 10px -2px rgba(204,204,204,1);
	-moz-box-shadow: 0px 0px 10px -2px rgba(204,204,204,1);
	box-shadow: 0px 0px 10px -2px rgba(204,204,204,1);
	margin-bottom: 12px;
	display: flex;
	align-items: flex-start;
	background-color: #fff;
}
.comment-cards:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 3px;
}
.comment-cards.green:before {
	background-color: #56dd82;
}
.comment-cards.red:before {
	background-color: #ff5a5a;
}
.comment-cards.orange:before {
	background-color: #ffc845;
}
.comment-cards > img {
	width: 25px;
	border-radius: 50%;
	margin: 0 8px 0 12px;
}
.comment-cards .card-buttons {
	margin-left: auto;
}
.fa-stop {
	color: #ff5a5a;
}