<!DOCTYPE html>
<html>
<head>
	<title>Task</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="angular/angular.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
</head>
<body ng-app="testApp">

<div class="container" ng-controller="appController as appCtrl">
	<div class="row">
		<div class="col-sm-3">
			<div class="header-wrap">
				<input class="header blue" type="text" name="header1" ng-blur="edit=true" ng-dblclick="edit=false" value="IDEAS/TASKS" ng-init="edit=true" ng-readonly="edit" ng-keyup="$event.keyCode == 13 && onEnter()">
				<i class="fa fa-ellipsis-v" aria-hidden="true"></i>
			</div>
			<input ng-model="idea" ng-keyup="$event.keyCode == 13 && addIdea()" class="card-add" type="text" name="comment" placeholder="Add a card..." />
			<div class="comment-cards {{card.color}}" ng-repeat="card in ideasCards">
				<img ng-src="{{card.avatar}}">
				<div class="card-desc">{{card.description}}</div>
				<div class="card-buttons">
					<div ng-hide="showme" ng-click="showme=true"><i class="fa fa-play" aria-hidden="true"></i></div><div ng-show="showme" ng-click="showme=false"><i class="fa fa-stop" aria-hidden="true"></i></div>
				</div>
			</div>
		</div>
		<div class="col-sm-3">	
			<div class="header-wrap">
				<input class="header orange" type="text" name="header1" ng-blur="edit=true" ng-dblclick="edit=false" value="IN PROGRESS" ng-init="edit=true" ng-readonly="edit" ng-keyup="$event.keyCode == 13 && onEnter()">
				<i class="fa fa-ellipsis-v" aria-hidden="true"></i>
			</div>
			<input ng-model="progress" ng-keyup="$event.keyCode == 13 && addProgress()" class="card-add" type="text" name="comment" placeholder="Add a card..." />
			<div class="comment-cards {{card.color}}" ng-repeat="card in progressCards">
				<img ng-src="{{card.avatar}}">
				<div class="card-desc">{{card.description}}</div>
				<div class="card-buttons">
					<div ng-hide="showme" ng-click="showme=true"><i class="fa fa-play" aria-hidden="true"></i></div><div ng-show="showme" ng-click="showme=false"><i class="fa fa-stop" aria-hidden="true"></i></div>
				</div>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="header-wrap">
				<input class="header purple" type="text" name="header1" ng-blur="edit=true" ng-dblclick="edit=false" value="READY FOR REVIEW" ng-init="edit=true" ng-readonly="edit" ng-keyup="$event.keyCode == 13 && onEnter()">
				<i class="fa fa-ellipsis-v" aria-hidden="true"></i>
			</div>
			<input ng-model="review" ng-keyup="$event.keyCode == 13 && addReview()" class="card-add" type="text" name="comment" placeholder="Add a card..." />
			<div class="comment-cards {{card.color}}" ng-repeat="card in reviewCards">
				<img ng-src="{{card.avatar}}">
				<div class="card-desc">{{card.description}}</div>
				<div class="card-buttons">
					<div ng-hide="showme" ng-click="showme=true"><i class="fa fa-play" aria-hidden="true"></i></div><div ng-show="showme" ng-click="showme=false"><i class="fa fa-stop" aria-hidden="true"></i></div>
				</div>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="header-wrap">
				<input class="header green" type="text" name="header1" ng-blur="edit=true" ng-dblclick="edit=false" value="APPROVED" ng-init="edit=true" ng-readonly="edit" ng-keyup="$event.keyCode == 13 && onEnter()">
				<i class="fa fa-ellipsis-v" aria-hidden="true"></i>
			</div>
			<input ng-model="approved" ng-keyup="$event.keyCode == 13 && addApproved()" class="card-add" type="text" name="comment" placeholder="Add a card..." />
			<div class="comment-cards {{card.color}}" ng-repeat="card in approvedCards">
				<img ng-src="{{card.avatar}}">
				<div class="card-desc">{{card.description}}</div>
				<div class="card-buttons">
					<div ng-hide="showme" ng-click="showme=true"><i class="fa fa-play" aria-hidden="true"></i></div><div ng-show="showme" ng-click="showme=false"><i class="fa fa-stop" aria-hidden="true"></i></div>
				</div>
			</div>
		</div>
	</div>
</div>

</body>
</html>